/* https://coolors.co/0b132b-acfcd9-ffe900-477998-e4572e */
:root {
    --jet: #333232;
    --blue-ncs: #2e86ab;
    --lemon-yellow-crayola: #fcfdaf;
    --buff: #efd780;
    --earth-yellow: #dba159;
}

html {
    background-color: var(--earth-yellow);
    font-family: 'Lato', sans-serif;
    text-align: center;
    width: 100vw;
}

h1 {
    background-color: var(--blue-ncs);
    color: var(--lemon-yellow-crayola);
    font-family: 'Lilita One', cursive;
    font-size: 4em;
    text-shadow: 0px 4px var(--jet);
    padding: 4px;
}

#question {
    background-color: var(--blue-ncs);
    color: var(--lemon-yellow-crayola);
    text-shadow: 0px 2px var(--jet);
    width: 66%;
    justify-content: center;
    margin: auto;
    padding: 4px;
}

h2 {
    font-size: 2em;
    width: 90%;
    margin: auto;
}

#answers {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: none;
}

#answers p {
    background-color: var(--buff);
    color: black;
    padding: 16px 64px 16px 64px;
    font-size: 1.75em;
    border: 2px solid var(--jet);
    margin: 4px;
}

footer {
    color: var(--jet);
}

a:link {
    color: var(--jet);
}

a:hover {
    color: var(--lemon-yellow-crayola);
}