/* https://coolors.co/55d6be-acfcd9-7d5ba6-dddddd-fc6471 */
:root {
    --turquoise: #55D6BE;
    --magic-mint: #ACFCD9;
    --royal-purple: #7D5BA6;
    --gainsboro: #DDDDDD;
    --fiery-rose: #FC6471;
}

html {
    display: flex;
    background-color: var(--fiery-rose);
    font-family: 'Lato', sans-serif;
}

h1 {
    font-family: 'Lilita One', cursive;
}

